[2012-12-05 02:07] ajpiano opened #1 "Port over content from jquery.github.com repo"
This site is going to supersede our developer documentation at jquery/jquery.github.com. Move the content here.

[2012-12-05 02:25] #1 closed, assigned to ajpiano

[2012-12-05 03:21] ajpiano opened #2 "Import "Won't Fix" page"
Importing this here instead of bugs.jquery.com/2

[2012-12-05 04:19] #2 closed, assigned to nobody

[2012-12-05 04:23] ajpiano opened #3 "Ensure "Won't Fix" section on positional selectors and Sizzle rewrite is up-to-date"
It would seem that a number of the issues discussed in the [Won't Fix](https://github.com/jquery/contribute.jquery.com/blob/master/page/wont-fix.md) page are not up-to-date with and make reference a future, but now complete, Sizzle rewrite. This needs to be brought up to date with jQuery 1.8+

cc @timmywil @dmethvin @gibson042

[2012-12-05 16:54] ajpiano opened #4 "Should this site be on .com or .org?"
Before we get too far down the road of actually setting up the subdomain (cc @gnarf37) , we should have one final discussion on whether the URL for this is contribute.jquery.com or contribute.jquery.org.

I don't have strong feelings either way.  @dmethvin and I felt OK about .com but something about .org feels logical as well. Wanted to put this out there for discussion before it's finalised, how

[2012-12-05 17:35] #4 closed, assigned to nobody

[2012-12-07 06:08] #3 closed, assigned to nobody

[2012-12-13 19:25] ajpiano opened #6 "Contributing Code page"
In `page/code.md`, following the mold of the triage page, put together instructions on the basics of contributing code to any jQuery project, e.g., forking repos, making pull requests, writing tests, not removing tests, following the style guide, using grunt, etc, with links to all the project repos.

This should probably link to the Won't Fix page, among other things as well.

[2012-12-13 19:27] ajpiano opened #7 "Community Page"
In `page/community.md`, following the mold of the triage page, put together some information about contributing to the community, including explaining that (obviously) contributing to any of the areas of any project is contributing to the community. The page should go on to explain information about how to get involved with jQuery Events and running local meetups, and link to pages on the site exp

[2012-12-13 19:28] ajpiano opened #8 "Documentation page"
In `page/documentation.md`, following the mold of the triage page, put together instructions on the basics of contributing documentation to any jQuery project, e.g., forking repos, making pull requests, following the style guide, using grunt, etc, with links to all the project repos

[2012-12-13 19:34] ajpiano opened #9 "Getting Started with Open Source"
In `page/open-sourcemd`, we should have a page about the basics of getting started with open source, talking about things like
- getting comfortable with the command line, even if you've been reluctant to
- getting used to local development, if you aren't
- advice for interacting positively and proactively in a project, dealing with people who aren't
- the idea that contributing goes beyond just w

[2012-12-13 19:39] ajpiano opened #10 "Support page"
In `page/support.md`, following the mold of the triage page, put together instructions on the basics of contributing support to other users of jQuery projects, e.g., the forums, IRC, stackoverflow, etc. Should include:
- [x] Links to various resources
- [x] explaining how support is a great way to learn more about projects without needing to run into the problems yourself, learn about intricacies

[2012-12-13 19:48] ajpiano opened #11 "Contributing to Web Sites page"
In `page/web.md`, following the mold of the triage page, put together instructions on the basics of contributing to jQuery Foundation websites, including:

- [x] high level overview of jquery-wp-content and content repos, why we made it work that way instead of wikis and a million different wordpress installs
- [x] outlining dependencies
- [x] basics of editing workflow and deploy process
- [x] li

[2012-12-13 19:51] ajpiano opened #12 "IRC Page?"
Since IRC is so crucial to involvement in our projects, should we have a explaining that very fact, and then links to all of our channels, and resources for getting set up, using a bouncer, etc?

Alternatively, this could be maintained as the content of irc.jquery.com.

We'd link to this page in the header.

[2012-12-13 20:00] ajpiano opened #13 "Add bug triage boilerplate example replies"
Perhaps on the triage page, or on a separate page linked from it, we should codify our example triage answers for various situations - will be useful for us _and_ new prospective triagers.

[2012-12-13 20:24] rdworth opened #14 "Style guides should be moved into a folder"
Instead of /js-style-guide/ and /html-style-guide/ we should have a top-level /style-guide/ with /js/ and /html/ inside it. In the future, perhaps we'd add a /css/. This also allows us to have a single style-guide landing page that introduces the concept of sharing all the guides across all foundation projects, and would link to all. It's also consistent with learn.jquery.com/style-guide/

[2012-12-17 18:23] #14 closed, assigned to nobody

[2012-12-17 18:24] ajpiano opened #15 "Style Guide page needs fleshing out"
As per #14, there is now a top-level style guide page to give background information on our style guides, why following style guide is important, etc. At present, this page is not linked anywhere in the site but does exist.

https://github.com/jquery/contribute.jquery.org/blob/master/pages/style-guide.md

[2013-01-09 14:10] #12 closed, assigned to nobody

[2013-01-09 19:12] ajpiano opened #16 "Move this site to contribute.jquery.org"
We should have done this from the outset, but it makes more sense on .org than .com

This repo name needs to be changed, and the urls have to be changed in jquery/jquery-wp-content sites.php and menu_header.php, and the DNS entries have to be updated.

[2013-01-10 06:15] #16 closed, assigned to nobody

[2013-01-11 19:21] ajpiano opened #17 "Import original HTML style guide as markup conventions"
The http://jquery.github.com/brand.jquery.org/ style guide is slightly out of date and, and should not be a standalone site anyway. It does not belong in the brand.jquery.org repo after all, as the content is more technical than brand-oriented. Everything else on jquery.github.com has gone to contributed, and this document essentially constitutes our markup conventions.

[2013-01-11 19:41] #17 closed, assigned to nobody

[2013-01-18 04:34] #15 closed, assigned to dmethvin

[2013-01-18 07:14] #9 closed, assigned to nobody

[2013-01-18 23:24] Krinkle opened #20 "Add heading anchors"
e.g. http://contribute.jquery.org/style-guide/js/#type-checks

The wiki supported this, which enabled nice link-ability such as:

http://docs.jquery.com/JQuery_Core_Style_Guidelines#Type_Checks

I'm not sure what format to use, WordPress' slug format would be best imho (to lower case, converting any special characters to dashes).

Maybe it can be done automatically on all content headings from jqu

[2013-01-23 17:12] jzaefferer opened #21 "Drop exceptions from JS style guide"
Need to look for the others, but the single string argument exceptions needs to go away:

[code]

Should be `foo( bar( arg ) );`

[code]

Should be `foo( "bar" )`.

[code]

Should be `if ( !( "foo" in obj ) ) {`

[code]

Should be `array[ 0 ]`.

This is mostly for syncing with the Core team to see if there are any objections in dropping exceptions.

[2013-01-24 00:37] dcardosods opened #23 "Html and JS style guide links in home page are broken"

[2013-02-01 18:25] #21 closed, assigned to nobody

[2013-02-02 19:06] #23 closed, assigned to nobody

[2013-03-03 18:17] jzaefferer opened #27 "Document how to be a maintainer"
We provide information for contributors, but nothing for maintainers. While we don't add people to jQuery Core, we should generally give out more write access to spread the load. I've never seen anyone abuse that "power", while they usually become more engaged in the project, since they now have more authority and try to make that up in the necessary responsibility.

I've started putting together

[2013-03-05 11:20] RedWolves opened #28 "Broken Link: Grid Reference Docs"
At the bottom of this page http://contribute.jquery.org/markup-conventions/ there is a link to go to the reference docs for grid.

"go here" is a broken link.

[2013-03-05 21:13] #28 closed, assigned to nobody

[2013-03-18 16:13] jzaefferer opened #31 "Document how to contribute translations"
Regarding questions like this: "@qunitjs I would like to translate http://qunitjs.com/  pages into Japanese. Can I have a permission to do it?" https://twitter.com/cssradar/status/313666013185077248

Apart from pointing at the license for the content, we want to figure out how to organize translations. One idea that @rdworth or @gnarf37 had in Vienna was to have a repository per locale, with folde

[2013-04-17 16:05] scottgonzalez opened #33 "Port pull request process from UI wiki"
http://wiki.jqueryui.com/w/page/40154555/Pull%20Requests

[2013-05-14 02:05] scottgonzalez opened #37 "Document how to file a bug report"

[2013-05-17 17:51] scottgonzalez opened #40 "Document how to setup git (username + email)"
https://help.github.com/articles/set-up-git#set-up-git

[2013-05-28 20:56] agcolom opened #42 "Link to Exceptions has no target"
On http://contribute.jquery.org/web-sites/, there's an anchor to "#exceptions":
 with some exceptions &lt;a href="#exceptions"&gt;*
but there is no corresponding target.

[2013-05-29 09:33] #42 closed, assigned to nobody

[2013-06-21 12:37] jzaefferer opened #45 "JS style guide: Formatting ternary expressions"
We don't have rules on how to format ternary expressions. Accordingly we have quite a few styles for these:

[code]

There's probably more variations.

@dmethvin @scottgonzalez @gibson042 do you have preferences on any of these?

[2013-06-25 10:24] agcolom opened #46 "Framed CLA not visible in Firefox"
The CLA (http://contribute.jquery.org/CLA/) is not visible in the latest version of Firefox (21.0) on Mac OSX. it is also not visible on Safari 5.1.7 (which is old I admit, but is the latest on Mac OSX 10.6.8). However, it is visible with Safari 6.0.3 on Mac OS X 10.7.5. On both OSs, Chrome will show the form correctly (Version 27.0.1453.116). I am not too worried about Safari 5, but I am about Fi

[2013-06-27 17:19] scottgonzalez opened #48 "JS Style Guide: Rules for long chains"
Document how to write long blocks of chained method calls. Include rules for indentation from elements that change the stack.

[2013-07-15 14:43] #45 closed, assigned to nobody

[2013-07-15 14:43] #48 closed, assigned to nobody

[2013-07-15 14:46] #20 closed, assigned to nobody

[2013-07-16 19:15] scottgonzalez opened #50 "Review and Publicize How to Report Bugs"
http://contribute.jquery.org/bug-reports/ was ported from MediaWiki and updated to address all projects instead of just core. The content should be reviewed for completeness and links to latest releases and WIP builds for all projects should be included (preferably by linking to pages that will be updated when releases occur).

This page isn't currently discoverable without searching the site.

[2013-08-12 12:08] scottgonzalez opened #51 "Documentation on setting Git config"
We need to document how to set your name and email address in Git. We should link to this from Contributing to Code, Commits and Pull Requests, and even the CLA page.

[2013-08-18 13:31] jzaefferer opened #52 "JS style guide: When to use switch statements, how to format them"
Afaik they are only acceptable when a fall-through is needed. Otherwise use if/else.

Reference for formatting:

[code]

[2013-08-18 15:42] jzaefferer opened #53 "JS style guide: Document exception on top-level indentation inside function block"
We skip indentation on the first level inside a function block that wraps the entire file.

[2013-08-28 17:48] #53 closed, assigned to nobody

[2013-09-03 19:12] gibson042 opened #54 "JS style guide: NaN checks"
@Krinkle [called me out](https://github.com/jquery/jquery/commit/ceb5b4c9a30f47bcec2380f972ce09cfea532f8b#commitcomment-4004722) for a possibly unclear `NaN` test, and it seems worth including as a type check in the style guide.

Options:
1. `name !== name` (more compressible; used in Sizzle [funescape](https://github.com/jquery/sizzle/blob/e4536ab8514f08c6fda7fca7d32ab5ea226a8ccf/src/sizzle.js#L1

[2013-09-05 12:10] #54 closed, assigned to nobody

[2013-09-10 17:07] #52 closed, assigned to nobody

[2013-09-11 14:47] jzaefferer opened #56 "JS Style Guide: Clarify object expression in array expression"
How should this look like?

[code]

According to the current styleguide, this should be correct. But I suspect the exception for whitespace around object expressions within function arguments also applies to array expressions. Which would look like this instead:

[code]

[2013-10-21 10:20] jzaefferer opened #59 "Document how to format commit messages"
For jQuery UI we have an existing guide for commit messages: http://wiki.jqueryui.com/w/page/25941597/Commit%20Message%20Style%20Guide

We could just put that on this site as-is. We could try to standardise commit messages across our projects, probably something to discuss at the next Dev Leads meeting. Maybe we can gather some input here until that next meeting?

/cc @dmethvin @uGoMobi @Krinkle

[2013-10-29 20:48] ajpiano opened #62 "Small style guide typos"
Received via e-mail:

---

Howdy, I was reading the JavaScript Style Guide page on your site and found a couple errors.

Both are in the Multi-line Statements section:
1. In the second example ( ternary operator ), there is a "var" at the beginning which needs removal.
2. In the third example, there is the misspelling of "fistCondition", which should read "firstCondition". It is my assumption that

[2013-11-05 11:09] #62 closed, assigned to nobody

[2013-12-06 16:21] #59 closed, assigned to nobody

[2013-12-18 14:59] #46 closed, assigned to nobody

[2013-12-19 06:25] xavi- opened #64 "Missed URL listed in description area"
The description of this repo points to http://contrbute.jquery.org instead of http://contribute.jquery.org

I know, I know, screen shot or it didn't happen:

![screen shot 2013-12-18 at 10 23 55 pm](https://f.cloud.github.com/assets/75434/1780473/42d74000-6876-11e3-8ea7-a07834c48035.png)

[2013-12-19 12:36] #64 closed, assigned to nobody

[2013-12-20 16:21] jzaefferer opened #65 "JS Style Guide: Do we need the extra indent for chained method context changes?"
In the ["Chained Method Calls"](http://contribute.jquery.org/style-guide/js/#chained-method-calls) section we have this special rule:

This is extremely difficult (practically impossible) to check for automatically (jscs) or format automatically (esformatter).

Could we drop this rule?

[2013-12-30 14:49] #65 closed, assigned to nobody

[2014-02-03 00:23] leobalter opened #69 "JS Style Guide: Reference the JSCS options"
I would like to have a reference to [JSCS options](https://github.com/jquery/jquery/blob/master/.jscs.json) together with [JSHint](http://contribute.jquery.org/style-guide/js/#linting) options.

That shoud be a good and quick reference to quick apply the style guide to external projects and to implement in jQuery projects that aren't entirely conformed with it.

Ref jquery/qunit#524

[2014-02-11 19:02] #69 closed, assigned to nobody

[2014-03-01 09:11] doktorbro opened #70 "A A Cacophony"
There is a typo in https://contribute.jquery.org/style-guide/

[2014-03-06 09:51] #70 closed, assigned to nobody

[2014-03-06 09:57] jzaefferer opened #71 "Adopts mdo's style guide for CSS (and HTML)"
This style guide for CSS looks pretty good to me: http://mdo.github.io/code-guide/#css

While that is online and actively maintained, we could just link to it. Its MIT licensed, so we could also integrate it here.

From the HTML section we could take over the sections on "Attribute order" and "Boolean attributes", if we want to adopt those.

[2014-03-11 15:35] #71 closed, assigned to nobody

[2014-04-07 15:55] scottgonzalez opened #74 "Link to GitHub's Contributing to OS Guide?"
Should we link to https://guides.github.com/overviews/os-contributing/ in our contributing docs?

[2014-04-11 12:43] #74 closed, assigned to nobody

[2014-04-11 12:45] #31 closed, assigned to nobody

[2014-04-15 12:12] scottgonzalez opened #75 "Create Prose Style Guide"
Most of http://learn.jquery.com/style-guide/ should be moved here as the prose style guide spans everything from READMEs to API documentation to articles and tutorials.

The index page will need to be updated as well, as that links to the various existing guides.

[2014-04-21 17:31] jzaefferer opened #76 "JS Style Guide: Does top-level indent exception apply to UMD wrappers?"
We have this line in the style guide:

Since introducing UMD wrappers in jQuery UI, we use this inconsistently. The wrappers are indented: https://github.com/jquery/jquery-ui/blob/fd7e1e3040ec2c6edb4754135602b5c31678e659/ui/accordion.js#L12

The "factory" isn't: https://github.com/jquery/jquery-ui/blob/fd7e1e3040ec2c6edb4754135602b5c31678e659/ui/accordion.js#L27

We might as well not indent the UM

[2014-05-20 15:43] #33 closed, assigned to scottgonzalez

[2014-05-20 16:03] #76 closed, assigned to nobody

[2014-06-04 21:54] mikesherov opened #79 "JS Style Guide: line length exception for comments with long urls or long regex?"
Occasionally, the jQuery codebase goes over 100 characters a line for regexes (and potentially long urls in comments). E.g.:

[code]

There are ways to split multiline regexes, but this involves using the constructor and having to double escape backslashes.

Should we make an exception for regex literals and comments? Note I'll be implementing this in JSCS no matter what we decide.

[2014-06-05 15:10] mikesherov opened #80 "JS Style Guide: 100 characters for line length too short?"
Just looking at the evidence: https://github.com/jquery/jquery/pull/1590/files

It seems like 100 characters might be a nice ideal, but that 120 characters would avoid some of the bending over backwards that we'd have to do.

[2014-06-05 18:38] #80 closed, assigned to nobody

[2014-06-05 18:44] mikesherov opened #81 "JS style guide: does the camelCase naming convention apply to object properties?"
Should either of these be violations:

[code]

[code]

[2014-06-17 18:53] sfrisk opened #82 "Add CSS Style Guide"
Add a page that outlines the style guide for CSS across all jQuery projects.

[2014-07-02 16:35] #81 closed, assigned to nobody

[2014-07-03 11:50] #79 closed, assigned to nobody

[2014-07-06 19:13] scottgonzalez opened #85 "CLA: Add note about git config"
We should add a note to let contributors know that their git config must match their CLA signature.

[2014-07-09 01:38] UltCombo opened #86 "CLA email change question"
Hello,

I've signed the jQuery Foundation's Individual Contributor License Agreement a couple years ago with an email that I barely use anymore.

Is it possible to change the email associated with my license agreement? Or should I sign it again with my new email? Or should I just not care about it?

Thanks.

[2014-07-09 08:27] #86 closed, assigned to nobody

[2014-07-11 16:13] #85 closed, assigned to nobody

[2014-09-01 14:34] jzaefferer opened #89 "JS Styleguide: Document spacing exception for empty objects"
Maybe this is implicit, but it wasn't obvious to me. Apparently this is correct, despite the first argument being an object:

[code]

If someone could confirm this, I can add an example.

[2014-09-02 12:27] #89 closed, assigned to nobody

[2014-10-06 17:55] scottgonzalez opened #90 "Core no longer uses Trac"
Update http://contribute.jquery.org/triage/ and any other potential references to bugs.jquery.com.

[2014-10-09 19:25] #90 closed, assigned to mgol

[2014-11-07 19:55] #82 closed, assigned to nobody

[2014-11-12 23:27] sfrisk opened #92 "Rework HTML Style Guide"
The current html style guide is very limited (http://contribute.jquery.org/style-guide/html/).  Rework html style guide to be more robust to handle future development for html heavy projects.

[2014-11-23 20:05] #56 closed, assigned to nobody

[2014-12-07 08:34] markelog opened #95 "Document style of "support" comments"
Every time we have a rewrite or drop support for some browser we engage (at least in Core) in discussion of how to properly write those support comments:

We need clear understanding of how to write those comments, so we can leave those discussion behind and focus on code instead of flaming the pull/issue thread with pointless posts.

[2014-12-24 17:12] #37 closed, assigned to nobody

[2015-01-02 18:43] arthurvr commented on #10
Isn't this page going to end up being duplicate of http://learn.jquery.com/about-jquery/additional-support/?

[2015-01-08 15:26] arschmitz opened #96 "Add notice about !important to css style guide"
I think we should either completely forbid `!important` and update the csslint settings or we should at least add a note STRONGLY discouraging it.

/cc @jquery/chassis @MichaelArestad @kristoferjoseph

[2015-01-08 15:30] sfrisk commented on #96
:+1:

I can add it to the CSS Style Guide if you guys want.

[2015-01-09 00:19] MichaelArestad commented on #96
There are definitely occasions when it's needed, but by default, I would make !important forbidden. :

[2015-01-09 13:32] scottgonzalez commented on #95
Do we have consensus yet?

[2015-01-09 18:47] gibson042 commented on #95
Comprehensive strawman to check ([RFC 5234](https://tools.ietf.org/html/rfc5234) / [RFC 7405](https://tools.ietf.org/html/rfc7405) ABNF syntax):

[code]

Examples:
[code]

[code]

[code]

Detailed explanation of `package-range`:

Introduced\ Fixed | `n` (immediately follows `m`) | not fixed as of `n` (latest checked)
------------------ |--------------- | -------------------------------------
in or

[2015-01-09 19:47] dmethvin commented on #95
OH NO HE DID-UNT! :astonished:

Most of it seems pretty straightforward, but I'm not clear on the use of `only` for open-ended bugs that haven't been resolved in a current browser.

Now we just need JSCS to implement the parser and check the style so we always get it right. :smiling_imp:

[2015-01-09 19:51] scottgonzalez commented on #95
Open-ended bugs that haven't been resolved in a current browser don't get `only`. Note that the rightmost column never has `only`.

[2015-01-09 19:54] dmethvin commented on #95
Agreed, the table makes it clear. I was trying to follow the grammar for a package-range.

[2015-01-09 20:33] markelog commented on #95
That rule seems way to specific to include it in the jquery preset, would it be fine if i do it as jscs plugin?

[2015-01-09 20:37] dmethvin commented on #95
Sure, I agree it's not a general purpose thing.

[2015-01-10 07:46] arthurvr commented on #11
Well guys, what is the current status of where people should be contributing? IMHO this shouldn't be on the site - it isn't and in fact contributions are welcome/needed everywhere.

[2015-01-10 07:54] arthurvr commented on #13
Interesting one from @jzaefferer: https://gist.github.com/jzaefferer/7043261 (focusses on PRs)

[2015-01-10 07:58] arthurvr commented on #7
What exactly needs to happen more?

[2015-01-10 14:04] gibson042 commented on #95
Looking at it again, we should probably drop the snowflake `<n only` in favor of `<=m only`.

[2015-01-12 13:19] scottgonzalez commented on #11
I think this can be closed. If there are specific items to be addressed, they should be in their own issues at this point.

[2015-01-12 13:19] #11 closed

[2015-01-12 18:09] gibson042 commented on #95
Done.

[2015-01-12 18:59] dmethvin commented on #95
Discussed and agreed on in the core meeting. For the prose, we'll just summarize what's in the discussion above and add the table. The grammar can go into a separate page.

[2015-01-12 19:03] scottgonzalez commented on #95
Did anyone volunteer to send a PR?

[2015-01-12 19:10] markelog commented on #95
How about @gibson042 will send PR for contribute and will create a plugin?

[2015-01-12 19:12] markelog commented on #95
But i'd say it's not a priority, 3.0 beta stuff first

[2015-01-12 19:12] dmethvin commented on #95
As priorities go I'd rather focus on getting core 3.0 out and we can circle back to formally documenting this. At least we have this issue now.

[2015-01-12 19:13] gibson042 commented on #95
Agreed. It may turn out that I'm the one to do it, but certainly not before core 3.0.

[2015-01-12 20:35] arthurvr commented on #51
Isn't this duplicate of https://github.com/jquery/contribute.jquery.org/issues/40?

[2015-01-12 20:49] arthurvr commented on #50
Some thoughts on that article:

* [ ] We're talking about jQuery's use of IRC but don't link up `irc.jquery.com`.
* [ ] We're saying people should try a WIP build of jQuery, we should probably add an explanation how to do that.
* [ ] Some parts of that article seem really specific to reporting core bugs. A quick explanation on how to report bugs for the sites can't hurt.
* [ ] In general we've alw

[2015-01-12 21:20] scottgonzalez commented on #51
Yup, I guess this has come up enough that I've filed it twice :-P

[2015-01-12 21:20] #51 closed

[2015-01-12 21:20] scottgonzalez commented on #40
We should link to this from Contributing to Code, Commits and Pull Requests, and even the CLA page.

[2015-01-13 08:25] markelog commented on #95
Sorry missed "i" here, should be:

[2015-01-13 20:04] arthurvr commented on #13
My own fork: https://gist.github.com/arthurvr/ce4e8d7099ff85aed8b2

[2015-01-17 10:58] arthurvr commented on #8
@kswedberg We already have https://github.com/jquery/contribute.jquery.org/issues/75, is that what you meant?

[2015-01-18 22:48] kswedberg commented on #8
@arthurvr :+1:

[2015-01-18 22:48] #8 closed

[2015-01-19 17:35] dmethvin opened #102 "Document references to PRs and Issues"
As discussed in the Core meeting. Since Core has changed to using GH Issues we want to change our ticket references to make them clear. We're going with gh-xxxx for Github tickets and trac-xxxx for older Trac tickets. If this doesn't end up in Contribute we'll find a place for it in the core docs.

[2015-01-19 18:31] scottgonzalez commented on #102
http://contribute.jquery.org/commits-and-pull-requests/#references

[2015-01-19 20:17] arthurvr commented on #102
I know that will be nearly impossible, but my only opinion on this is that we should try to be consistent across all projects. Inconsistency makes it hard for cross-project contributors, as well as for new contributors.

[2015-01-19 20:53] dmethvin commented on #102
That ship has sailed. Many of the smaller jQuery projects already use #xxxx to indicate Github issues, and if you're using GH issues from the start on a project it just makes sense to let Github help you out. Although it will find gh-xxxx in commits the online editor only recognizes #xxxx for example.

[2015-01-19 21:08] arschmitz commented on #102
@dmethvin I'm not so sure thats true all projects were going have switch to match the style guide on contribute @scottgonzalez linked to. This says it should be `gh-` for anything on github. We had TONS of discussion to settle this style in the mailing list. This was decided because trac only allows `#` where github allows a github specific delimiter. So it seems like there should not even be a ne

[2015-01-19 21:20] dmethvin commented on #102
We're definitely not forcing all projects from the jQuery Foundation to do all things the same way. If that were the case we'd all have to agree on a bug tracker for example. I opened the ticket to document the difference on this site for Core so people would know about it.

On the `gh-` point we're keeping that for core but switching to `trac-` for the now-legacy Trac tickets to be clear that we'

[2015-01-20 10:37] jzaefferer commented on #102
The document Scott linked to says "Always use "gh-xxx" for GitHub issues", which, for example, QUnit completely ignores. We use #xxx references for issues and PRs.

I'm fine with adding project-specific exceptions to that document. I could also look into extending commitplease to check for specific issue reference prefixes, provided via `package.json` along with the components list.

[2015-01-20 13:55] scottgonzalez commented on #102
Listing lots of exceptions will just make the documentation harder to read through and more daunting for new users. If there are going to be lots of differences, we need to move the information into the individual projects.

[2015-01-20 14:02] mzgol commented on #102
I think we should strive for uniformity accross projects. It might be hard
to remember about specific rules but if commitplease checked the style of
references, it could be taught to forbid `#`. It'd make it easier for
outsiders for contribute.

trac-xxx is an exception since Core switched bug trackers but most outside
contributors don't need to know about Trac as there are no open tickets
there s

[2015-01-20 14:07] scottgonzalez commented on #102
Except that jQuery UI uses Trac.

[2015-01-20 14:11] mzgol commented on #102
Yes, I meant Core Trac, i.e. most contributors won't need to know that core uses trac-xxx to denote old Trac tickets. jQuery UI can continue using `#`, it'd be forbidden in other projects. In this way the divide is clear: `#` for things outside GitHub, `gh-` for things inside GitHub. If a project doesn't go behind GitHub (like Core or QUnit), `#` could be forbidden by commitplease.

Idk, is this t

[2015-01-20 14:13] arschmitz commented on #102
@mzgol if i understand correctly this is essentially whats already on contribute?

[2015-01-20 14:16] arschmitz commented on #102
@mzgol worth noting you cant forbid it entirely or it breaks cross project references like `[user]/[repo]#xxx`  which cant us `gh-` however thats a github specific format anyway so it is not ambiguous.

[2015-01-20 14:27] mzgol commented on #102
Yes, pretty much. We could just enforce not using `#` in projects using the GitHub issue tracker via commitplease, taking into account the restriction you mentioned in your second comment.

[2015-01-20 21:03] dmethvin commented on #102
So is the consensus that no change is needed here and we'll just document our project-specific difference in our repo?  I'd be good with a check in commitplease for use of `#NNNN` in tickets if that makes sense.

[2015-01-20 21:20] jzaefferer commented on #102
For anything related to commitplease, an issue [over there](https://github.com/jzaefferer/commitplease/issues) would be good, a PR even better.

[2015-01-20 21:21] arschmitz commented on #102
@dmethvin there was additional discussion in #jquery-dev based on that I don't think there is any real need for project specific differences if @scottgonzalez can make the change he thinks is possible to trac which will also avoid future issues in ui.

[2015-01-20 21:35] dmethvin commented on #102
Created the other tickets.

[2015-01-20 21:35] #102 closed

[2015-01-20 21:37] scottgonzalez commented on #102
We can use InterTrac and have a reference back to the same Trac install; it's definitely not how it's supposed to be used, and would result in redirects for every link, but it would make it possible to have `trac:#9000` or `ui-trac:#9000` references. This is really intended for things like bugs.jqueryui.com having a `core:#9000` (or similar) reference that links to http://bugs.jquery.com/ticket/90

[2015-01-20 21:42] dmethvin commented on #102
I guess it's a question of which will be the most obvious and be the least likely to have link rot. If it turns out the Core Trac setup doesn't ever get migrated we can just link to the static wayback pages, honestly.

[2015-01-22 02:52] MichaelArestad commented on #92
**Accessibility**

I would definitely include references to proper accessible markup and how to properly write an `alt` attribute.

I would potentially add a bit about adding  `<title>` and `<desc>` elements to inline SVGs.[#](http://www.sitepoint.com/tips-accessible-svg/)

**Forms**
I would include:
* proper locations for label element in conjunction with various input types.
* proper use of plac

[2015-03-10 20:14] jzaefferer commented on #95
@markelog I'd be happy to test that plugin on jQuery UI and QUnit, let me know when you have something. Might be good to implement that plugin before doing the contribute PR, could highlight some issues in the spec.

[2015-03-11 14:29] agcolom commented on #75
With regards to code output placement, we agreed to use
// >
on its own line. We might then choose to replace this with whatever we decide is more suitable on build (e.g. ➡ or → or something else) otherwise, keep ```>```, see https://github.com/jquery/globalize/issues/313

[2015-03-23 21:37] Slayslot commented on #92
http://validator.w3.org/ can be used for html validation ?

[2015-03-23 21:58] arschmitz commented on #92
@Slayslot this is about style not validity

[2015-03-24 07:47] Slayslot commented on #92
@arschmitz Yes, but @sfrisk had it in her suggested items list, so if we're going to explicitly ask the users to write valid html why not recommend them to check it from here as well? Google does the same thing in their HTML style guide. https://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml#HTML_Validity

[2015-03-24 13:02] scottgonzalez commented on #92
Just a note about validators: While validator.w3.org is certainly useful, we do use validator.nu for our automated testing via [grunt-html](https://www.npmjs.com/package/grunt-html).

[2015-03-24 13:15] sfrisk commented on #92
It might be useful to list our preference for validator.nu in the html style guide, but in general the HTML style guide should focus more on style since we're looking to expand the HTML style guide to be similar to the CSS/JS ones.

[2015-03-24 14:16] Slayslot commented on #92
So we can just mention that we use validator.nu for automated testing via [grunt-html](https://www.npmjs.com/package/grunt-html) and further recommend them to use it before posting html.

[2015-03-24 14:23] scottgonzalez commented on #92
Before posting what HTML? If it's a project that's using grunt-html, it will automatically be checked. Having to manually check validation is extremely tedious and time consuming.

[2015-03-24 14:48] Slayslot commented on #92
I've been reading [Code Guide](http://codeguide.co) and [Google's HTML style guide](https://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml) and have come up with the following things that should be included in the style guide:
* Remove Trailing Whitespace.
* Separation of Concerns (No inline styles or scripts).
* HTML semantics(Using proper HTML elements wherever needed).
* Attributes

[2015-03-24 14:55] scottgonzalez commented on #92
We need evidence this is a good idea. This has historically been bad for accessibility.

You mean `type` *attribute*. This isn't necessary for text fields, but it depends if you want to easily target text inputs via CSS.

Only needed if you're using multiple submit elements on the same form.

Is there an explanation of why this order is chosen?

[2015-03-24 19:32] Slayslot commented on #92
Point taken.

I, quite frankly didn't know that. On a bit research I found [this](http://ux.stackexchange.com/questions/35289/input-checkboxes-wrapped-inside-labels/35297#35297) . So at least radio buttons and checkboxes take advantage from this method.

Would it hurt if a type attribute is included for text field? I'm honestly asking here? Because if it won't hurt then it only makes it easier for

[2015-03-24 19:41] scottgonzalez commented on #92
That answer says nothing about accessibility, but note that the comments on the answer say to use the `for` attribute rather than relying on implicit association via wrapping.

It doesn't hurt, it's just not necessary. It's the same as explicitly passing the same values as default options in your JavaScript.

Because it doesn't actually improve readability and instead just pushes everything furthe

[2015-03-24 19:50] dmethvin commented on #92
As you noted though, it's necessary if you want to style text inputs since `<input />` won't match a CSS rule of `input[type=text]`.

[2015-03-24 20:28] Slayslot commented on #92
I was focusing more on the increased hit zone but I do get your point. What, in your opinion, would be the best way for this?

okay, but this extra effort will make it easier to style them in CSS.

Frankly speaking, I too use tabs. And, now that you've pointed out your hate for 2 spaces I realize that I hated it too. For the fact that the deeper the element, that you're working on, is nested the t

[2015-03-24 21:38] scottgonzalez commented on #92
Keep them separate and use the `for` attribute.

I would prefer if we didn't *require* `type` attributes, but I'm not strongly against it if we have a tool that's checking for it.

[2015-03-25 18:37] Slayslot commented on #92
Alright, we can keep that.

HTML validation wouldn't check for that?

[2015-03-25 18:56] scottgonzalez commented on #92
I'm not aware of any validator that checks for an optional attribute to be required.

[2015-03-25 19:27] Slayslot commented on #92
Hmm, didn't think so. This will be problematic then.

[2015-03-27 11:53] scottgonzalez opened #107 "Style Guide: Context-changing methods as first method call"
From https://github.com/jquery/jquery-ui/pull/1508#issuecomment-86893279:

Example:

[code]

Any arguments against this?

[2015-03-27 14:39] rxaviers commented on #107
I dislike it. It seems something is missing. It seems like someone just forgot to indent it.

My vote goes for either @dmethvin suggestion A or @scottgonzalez suggestion B.

A:
[code]

B:

[code]

PS: The spacy `} )` is really awkward. I couldn't get used to it yet :see_no_evil:.

[2015-03-27 14:53] scottgonzalez commented on #107
A is definitely not in line with our style guide. B is actually what I expected. See the other thread for @jzaefferer's explanation of why he didn't want the extra indentation.

[2015-03-29 17:53] Slayslot commented on #92
Just to move things further and for everyone's ease I've made these lists consisting everything that has been discussed here so far.

**Changes that nobody has any objection against:**
* Remove Trailing Whitespace.
* Separation of Concerns (No inline styles or scripts).
* HTML semantics(Using proper HTML elements wherever needed).
* Attributes to be placed in order(Order to be decided).
* Reducing

[2015-03-29 21:56] scottgonzalez commented on #92
I'm not really convinced an order is necessary. There are a few attributes (`rel`, `type`, `src`, `href`) that I think should always be in the front, but I don't really see much value in defining extensive orders.

I'm not really sure how this is tied to an HTML style guide.

I'm not sure what the intention is. `<br>` elements are pretty rare in good markup, I'm not sure this requires an explicit

[2015-03-29 22:00] scottgonzalez commented on #92
Phrased another way: Every project that this is intended to apply to already has a rule to use tabs.

[2015-03-31 21:11] Slayslot commented on #92
Alright, if not an extensive order at least we can tell people to keep the few attributes that you stated(and maybe add `class` to that?) in the front.

include it in the JS guide then?

Makes sense.

That's my bad.

Dependent on whether the asset is available for both protocols?

To make it clear as to what the alternate stylesheet is there for. I am not sure if this is entirely necessary or if i

[2015-03-31 21:39] scottgonzalez commented on #92
I'm not sure it belongs there either. This is a project by project decision. It's highly dependent on what you're trying to accomplish.

We don't have a single project that currently writes TODOs in that format. I think this is overkill. Most TODOs belong in issues anyway.

[2015-03-31 22:03] Slayslot commented on #92
Sure, but markup written in JS makes the markup just hard to find and edit if need be. So, if it can be  avoided, then why not?

Just thought it was a decent idea. You are correct though, Most TODOs do belong in issues.

[2015-03-31 22:06] arschmitz commented on #92
Because if this is to be used by projects like jQuery Mobile and UI, this makes no since they are projects that create JS based widgets and so intentionally generate markup. This is something that needs to be  evaluated on a case by case basis, and so makes no sense in a style guide.

[2015-04-01 08:24] Slayslot commented on #92
That does make sense. Don't I feel stupid now. I'll update the list.

[2015-04-02 18:51] Slayslot commented on #92
Before updating the list, I wanted to confirm the status of these two:

[2015-04-04 17:12] gibson042 opened #110 "CLA Checker: Show time of attempted verification"
For technical reasons, we don't automatically recheck pull requests when a contributor signs the CLA. But pages/CLA/status.md doesn't provide enough information on its own to detect post-failure resolution, because it lacks the invocation time.

We should add text to the effect of "The following authors didn't have appropriate CLA signatures _as of [datetime]_", and also instructions to reactivate

[2015-04-04 17:27] cvrebert commented on #110
Have you considered having the bot listen for PR comments and having some magic comment force a CLA re-check?

[2015-04-04 19:52] arschmitz commented on #110
@gibson042 @cvrebert The only reason we don't currently re-check is just that it has not been implemented, the cla checker is very new. There are 2 open issues for this https://github.com/jquery/jquery-license/issues/2 to implement the ability to recheck a PR, and https://github.com/jquery/jquery-license/issues/6 Which is to implement auto re-checks ( and also includes discussion of re-checking ba

[2015-04-05 13:49] #96 closed

[2015-04-05 14:07] scottgonzalez commented on #110
Moved to https://github.com/jquery/jquery-license/issues/30 since that's where we've been tracking all of the CLA checker changes.

I'd rather see someone just implement https://github.com/jquery/jquery-license/issues/6 instead of suggesting empty commits.

[2015-04-05 14:07] #110 closed

[2015-04-05 14:19] arthurvr commented on #40
Honestly, should our contribution guidelines go that far? Might as well link up other good resources (such as the GitHub docs). I just feel like this is enough documented on other places. IMHO [the CLA page](https://github.com/jquery/contribute.jquery.org/blob/master/pages/CLA/status.md#updating-git-config) is enough for us.

[2015-04-05 14:22] scottgonzalez commented on #40
That's exactly what this issue is, linking to GitHub from the relevant pages on our site.

[2015-04-05 14:25] arthurvr commented on #40
Oh, misunderstood you, I though you wanted the content to literally be documented on the site.

[2015-04-05 14:33] scottgonzalez commented on #40
Nope. I'm definitely on the same page as you, we should be linking to existing content when it's available.

[2015-04-09 10:28] najela opened #113 "Wrong link to the github repository for the http://sizzlejs.com/ website"
[This page](https://github.com/jquery/contribute.jquery.org/edit/master/pages/web-sites.md#L261) provides the link to the github repository for the [sizzleJS website](http://sizzlejs.com/). The link appears to be broken however. I tried searching for the repository for that website but I couldn't find one. Does it even exist?

[2015-04-09 12:27] dmethvin commented on #113
Not sure where the sizzlejs.com web site is located, but there doesn't seem to be a repo for it in /jquery. @timmywil?

[2015-04-09 12:40] scottgonzalez commented on #113
It should be pretty obvious that sizzlejs.com has never been part of jquery-wp-content. It's a one-off that never got any attention.

[2015-04-09 16:41] najela commented on #113
@scottgonzalez  Does that mean we should delete [line 261](https://github.com/jquery/contribute.jquery.org/edit/master/pages/web-sites.md#L261)?

[2015-04-09 16:48] scottgonzalez commented on #113
Yeah. Note that it's already in the [list of sites that don't use jquery-wp-content](http://contribute.jquery.org/web-sites/#not-live-content-migration-in-progress-planned).

[2015-04-09 16:49] najela commented on #113
Okay... I'll submit a PR then

[2015-04-09 22:42] najela commented on #113
@scottgonzalez  @dmethvin https://github.com/jquery/contribute.jquery.org/pull/114 resolves this issue

[2015-04-10 06:52] arthurvr commented on #113
We should probably first discuss the long-term plans with that site before just deciding to remove it everywhere.

I'm fine with removing it from that list but we can't just let the site of one of our projects die. First of all, what was the reason the repo was removed and where does it live now?

[2015-04-10 12:27] scottgonzalez commented on #113
There was never a repository for the existing site. There *was* a repository for the new site, which contained a single page of content that was copy/pasted from the live site, but was never worked on and never deployed. You can see what state it was in on http://stage.sizzlejs.com/. Since nobody ever expressed any desire to work on it, and having the repo exist but not be the actual site was conf

[2015-04-10 12:29] arthurvr commented on #113
Okay, thanks for the info. I'm +1 for removing it.

[2015-04-16 10:43] #113 closed

[2015-04-21 08:40] agcolom commented on #27
@RedWolves @scottgonzalez @arthurvr How about adding a new heading in the left nav with the title "For maintainers..." just trying to keep it consistent with the existing tone on this menu...
![proposedmenu](https://cloud.githubusercontent.com/assets/688413/7248401/5114d546-e80a-11e4-82f6-1f9e243c1810.png)

[2015-04-21 08:44] agcolom opened #115 "Update CLA check text in maintainers guide"
[This section](http://contribute.jquery.org/repo-maintainers-guide/#verify-the-author-info-and-cla) needs to be updated as the CLA check is now automatic.

[2015-04-21 08:51] agcolom opened #116 "Deploying command is kind of confusing"
At the bottom of [this section](http://contribute.jquery.org/web-sites/#deploying-to-staging-and-production-environments) we say to use ```git push --tags origin master```. However, everywhere else on the contribute site, [we say](http://contribute.jquery.org/commits-and-pull-requests/) to fork the repo, clone the fork which will be origin and add the main jquery repo as upstream. I'm proposing to

[2015-04-21 10:12] jzaefferer commented on #27
That looks good to me.

Regarding https://github.com/jquery/contribute.jquery.org/blob/master/pages/repo-maintainers-guide.md - we can heavily simplify the CLA section, now that its mostly automated.

[2015-04-21 10:18] jzaefferer commented on #116
It looks to me like the parts using "upstream" are written for contributors, the one using "origin" for maintainers. We should keep those separate, so moving that "deploying" section elsewhere would be better than renaming the remote.

[2015-04-21 10:25] agcolom commented on #116
@jzaefferer I agree with that. I'd be happy to maybe have a warning note then, reminding people that they should check whether they should push to origin or upstream (many maintainers started as contributors and would have the remotes inline with the contributor's recommendations. What do you think?

[2015-04-21 10:40] jzaefferer commented on #116
That makes sense.

[2015-04-21 11:14] mzgol commented on #116
This seems confusing to me. Why not settle on `origin` for everything? I always use `origin` for the upstream repo (this is the default) and then add my fork if needed under my GitHub name as a remote name (i.e. `mzgol`). Changing `upstream` to `origin` just because someone became a maintainer seems weird.

[2015-04-21 11:34] scottgonzalez commented on #115
I'd prefer if someone other than me made this change to make sure others are aware of what's actually going on and how to deal with issues.

[2015-04-21 11:35] scottgonzalez commented on #27
Seems fine to me.

[2015-04-21 12:39] agcolom commented on #116
@mzgol My understanding is that contributors have been recommended to use upstream for the upstream/main repo and origin for their fork, and that is everywhere in the contribute site. I don't think we're going to change that. However, when used to follow the instructions on the contribute site, it can be confusing to suddenly be told to use ```origin``` and not ```upstream```. While this section i

[2015-04-21 12:49] agcolom commented on #115
Some notes:
* [ ] This should mention the label being applied
* [ ] What happens when the CLA is signed more than once (i.e. does it check for first match, or array of matches)
* [ ] Does it/Can it check again after a new signature
* [ ] Does it/Can it check again after a change of name in git config

[2015-04-21 12:51] mzgol commented on #116
Choice of specific names is personal taste so if we have `upstream`+`origin` everywhere then let's keep it. I just don't understand why we can't advise identical setup for maintainers as for contributors. After all, maintainers also submit PRs and also do it often from their own forks. I don't see the gains of separating those two cases.

For me it'd be easiest to understand if the only difference

[2015-04-21 12:53] scottgonzalez commented on #116
That's exactly what @agcolom originally suggested.

[2015-04-21 13:13] mzgol commented on #116
Right, sorry for the confusion. +1 to @agcolom then.

[2015-04-22 17:18] arthurvr commented on #116
:+1: to changing together with adding a note to make sure people double check.

[2015-05-03 09:20] agcolom commented on #116
@jzaefferer @mzgol @scottgonzalez Please check the PR and let me know if the wording looks good to you. Here's a screenshot also:
![clarifydeploy](https://cloud.githubusercontent.com/assets/688413/7444506/0e94af52-f17e-11e4-9f45-a1f47fe1d40a.png)

[2015-05-04 19:40] #116 closed

[2015-05-10 10:56] #27 closed

[2015-05-30 09:11] jqguy opened #123 "fresh jQuery style guide"
Modern style guides all use single quotes and are way easier to type. I want jQuery switching to the google style guide which is way more beautiful.

* singel quotes
* spaces after all(!) keywords
* ...

this is the worst thing which recently even changed

[code]

[2015-05-30 14:28] #123 closed

[2015-06-13 18:35] markelog commented on #95
@jzaefferer oh, missed your comment, will try tackle this one.

[2015-06-14 17:44] mzgol commented on #95
How do we want to write about Microsoft Edge? Since IE has no further versions planned, I guess we should not write:
[code]
but:
[code]
The question is what to write instead of `?` considering that Edge has no versions unlike Firefox/Chrome.

Build numbers? That could work if they are increasing integers. If they're not, maybe dates?

(I wonder if BrowserStack will make more than 1 Edge build avai

[2015-06-15 12:46] markelog commented on #95
I guess build numbers, date might not be too descriptive and seriously, no versions? Could you give me a link?

[2015-06-15 13:06] mzgol commented on #95
https://twitter.com/jacobrossi/status/607060127837908992

[2015-06-29 16:41] mzgol opened #124 "Clarify the need to setup Wordpress locally"
I wanted to fix one thing on jquery.com and I didn't do anything there for a long time so I decided to try with freshly cloned repos with the new Vagrant setup. I started from:
https://github.com/jquery/jquery.com/blob/master/README.md
which redirects to:
https://github.com/jquery/jquery-wp-content
(basically just "install Virtualbox & Vagrant & run `vagrant up`" - simple) and:
http://contribute.j

[2015-06-29 16:51] scottgonzalez commented on #124
Well, that and:

This comes directly from the [setup instructions](https://github.com/jquery/jquery-wp-content#setup).

[2015-06-29 16:57] arthurvr commented on #124
Sounds like there are definitely some things we can clarify on the site. Assigning this one to me, I'll work on it.

:+1:

[2015-06-29 17:42] mzgol commented on #124
OK, apparently I'm blind. I'll leave it to you to decide if it should be highlighted more visibly or if current instructions are fine.

[2015-06-29 18:04] scottgonzalez commented on #124
I think the README can certainly use some better formatting/editing so that there's not a massive block of expected output before the next (important) step.

[2015-06-29 18:15] mzgol commented on #124
Yeah, that is most likely what made me jump too far into the list.

[2015-07-02 00:02] mzgol commented on #95
We need to start documenting workarounds for IE if they're needed in Edge as well so I'd like to at least settle this. It seems Edge has increasing build numbers and they're available in the user agent in the form: `Edge/12.BUILD_NUMBER`. We should probably just use those build numbers since the `12.` part ["is mostly meaningless"](https://github.com/jquery/jquery/commit/8e111df641cca3e1b75b31a197

[2015-07-02 00:11] scottgonzalez commented on #95
I'd recommend writing the full version, including the 12.

[2015-07-02 00:13] mzgol commented on #95
This would be even more verbose: `Edge 12.9600-12.10159+`. The build numbers are exactly Windows 10 build numbers so they're not magical. If Edge changes the `12` at all in the future, we can always introduce another number but the lone fact that `12.` appears in the user agent doesn't need to mean anything.

[2015-07-02 13:40] dmethvin commented on #95
Right now the Edge and Win10 numbers are synced but I wonder if it will stay that way after final release. I'd prefer something short. We should pull in @jacobrossi here just to be sure we're doing it in a way that will make sense once they start to change numbers.

[2015-07-02 16:46] jacobrossi commented on #95
Yep, what you're doing makes sense and should be fine. The numbers are increasing and in sync with the OS and we plan to continue that.

Note there's still a chance we could fix a thing or two through Windows Update and this build number wouldn't change (e.g. like the IE11 case mentioned above).  We can't include patch/revision numbers that change in the monthly WU updates for security reasons.

[2015-07-02 17:09] mzgol commented on #95
@jacobrossi

Thanks for the reply!

I thought each WU constitutes a new Windows build. How often will the build number change? I'm interested only very approximately, like, each month, each 6 months, each year, each 3 years etc.?

[2015-07-20 00:41] AurelioDeRosa opened #125 "Commits and Pull Requests: Inconsistent with current workflow"
The section [Commit Guidelines](http://contribute.jquery.org/commits-and-pull-requests/#commit-guidelines) of the [Commits and Pull Requests page](http://contribute.jquery.org/commits-and-pull-requests), is inconsistent with the current workflow. In particular, it suggests that after the "Fixes" word there should be the sharp or pound sign (`#`) followed by the ID of the issue fixed (e.g.: **Fixes

[2015-07-20 02:04] arschmitz commented on #125
@AurelioDeRosa We use both. We have projects that don't use github for issues. The gh is to differentiate. For example when referencing trac issues on jQuery UI it should be a # but when referencing a pull request it should be gh-. As we add projects having this information here might become a bit unmaintainable as projects potentially choose different styles.

This is really a general problem wit

[2015-07-22 14:53] arthurvr commented on #125
Although it would be nice if it's somewhat consistent, I agree. There's only one project that still uses Trac anyways.

The fact that Core switched from Trac to GitHub doesn't make this discussion more easy. #1234 could mean both Trac 1234 and GitHub issue 1234.

Ref https://github.com/jquery/jquery/issues/2019

[2015-07-23 21:52] arthurvr commented on #6
@dmethvin You ever got assigned to this ticket, are you planning to pick it up or do you want anybody else to do it?

We already do have [a list](https://github.com/jquery/contribute.jquery.org/blob/c36d8c5a71ea521a724972d01687b012e0ffcb59/pages/bug-reports.md#where-to-report) of the bug trackers.

The workflow of how build systems and testing workflow works is very different project specific, so

[2015-07-23 21:56] arthurvr commented on #7
Wow. This ticket is getting really old. Let's pick it up.

That's specific to one site, so maybe we should have it over there instead. In fact, [we already have](http://learn.jquery.com/contributing/).

@ajpiano Would you like to write this up?

[2015-07-24 17:00] arthurvr commented on #75
Slightly related: Markdown "code" style is something else I'd like to document one day. Do we want new lines under headings, hard wrapping, how do we make lists, ...

[2015-07-27 21:24] AurelioDeRosa commented on #125
@arschmitz if you think it's not worth updating the page, feel free to close this issue.

[2015-07-31 13:00] mgol opened #126 "Document focus problems in IE"
All versions of IE (including IE 11) fire focus & blur events asynchronously; we often get bug reports about that: [jquery/jquery#trac-13026](http://bugs.jquery.com/ticket/13026), jquery/jquery#1758, jquery/jquery#2511 to name just a few.

Thankfully, it was fixed in Microsoft Edge but IE 11 will stay forever as it is.

We should document this as one of the things on the "Won't fix" list at https:

[2015-08-05 19:17] dmethvin commented on #6
@arthurvr if someone else wanted to pick this up (or just close it if you feel like it's all covered elsewhere) that would be great!

[2015-08-29 22:37] mzgol commented on #95
Yet another reason to write it like that - these numbers are not unambiguous. For example, the latest stable build, 10240 has Edge with `Edge/12.10240` in the user agent string but `Microsoft Edge 20.10240.16384.0` on the Settings pane. The only unambiguous part is the build number; 10240 in both cases.

BTW, @jacobrossi, why do those numbers differ so greatly? It's going to get confusing when som

[2015-09-21 12:17] jzaefferer opened #128 "JS styleguide: Replacement for onevar"
As @timmywil commented on https://github.com/jquery/contribute.jquery.org/pull/105#issuecomment-134393037:

Airbnb has decent rules for variables: https://github.com/airbnb/javascript/tree/master/es5#variables
ES6 variant: https://github.com/airbnb/javascript#variables

Are there other references we should consider? @timmywil would you be willing to put a draft together?

[2015-09-23 14:57] arthurvr commented on #128
I'd personally prefer to put on the `disallowMultipleVarDecl` option :+1:

[2015-09-23 17:13] agcolom commented on #75
Adding a note here regarding the use of <code> </code> instead of  " " in the api docs where appropriate. (From today's content meeting)

[2015-09-28 09:24] mzgol commented on #95
In light of new info at https://github.com/jquery/testswarm/issues/308#issuecomment-142134534 we should use `Edge 12 only`, `Edge 12-13+` etc.

[2015-10-18 20:28] jzaefferer commented on #75
Recommendations for README content: https://the-pastry-box-project.net/charlotte-spencer/2015-september-16

Some tools that we might be able to integrate:

- http://www.hemingwayapp.com/ - Editor hat helps write short and simple english
- http://alexjs.com/ - Catch insensitive, inconsiderate writing
- http://joblint.org/ - Test tech job posts for issues with sexism, culture, expectations, and recr

[2015-10-28 17:45] leobalter opened #129 "Document consistency goods with files examples"
After a discussion on https://github.com/jquery/api.qunitjs.com/pull/114#issuecomment-150332207, it sounds we might use some examples of our *kickstart* configuration files we already use on most projects.

That might include, not exclusively:

- `.editorconfig`
- jshint and jscs configs
- task runner configurations (currently grunt)
- a whole CI configuration docs (this might become into another

[2015-10-28 17:56] jzaefferer commented on #129
@arthurvr is this something you could help with?

A list of repos with config files in use, highlighting the (in)consistencies would be useful.

Some more files to add to the list: `.csslintrc`, `.gitignore`, `.gitattributes`, `.travis.yml` (`sudo: false`!)

On the dev leads meeting the idea was brought up to edit these files in one repo, then use bower/npmcopy to add/update them in individual rep

[2015-10-28 18:35] jzaefferer commented on #129
Note from @arthurvr from on jquery/api.qunitjs.com#115: The package.json there uses 2 spaces for indent. That applies to other repos as well, since we use `npm version` which always reformats with 2 spaces. Doesn't look like that's ever going to change: https://github.com/npm/npm/pull/3062

[2015-10-28 18:37] jzaefferer commented on #129
Regarding the centrally managed repo: If we have that, we could also include those files in this repo, to show the "current" config files on contribute.jquery.org, via @partial: https://github.com/jquery/grunt-jquery-content#partial

[2015-11-02 22:13] gibson042 opened #130 "Prefix commit subjects with semver level"
TL;DR: Extend commit subjects to `{semver-level} {Component(s)}: {Message}`, e.g. `minor Foo: Extend bar`

I think we should include semver level in commit messages for ease of hotfixing/releasing/cherry-picking/etc. And since it seems to be even more important than the affected component(s), I'd like it not just in the subject but at the _start_ of the subject. I've opened https://github.com/jzae

[2015-11-02 22:25] Krinkle commented on #130
Node.js has been using more verbose `(SEMVER-MINOR)` and `(SEMVER-MAJOR)` in their commit messages.

For example: https://github.com/nodejs/node/blob/v5.0.0/CHANGELOG.md#commits

* [[`1a41feb559`](https://github.com/nodejs/node/commit/1a41feb559)] - **buffer**: don't CHECK on zero-sized realloc (Ben Noordhuis) [#3499](https://github.com/nodejs/node/pull/3499)
* [[`5f6579d366`](https://github.com/n

[2015-11-02 22:28] scottgonzalez commented on #130
I don't really want to implement this in any of the projects I manage.

[2015-11-02 22:43] mzgol commented on #130
Click in the links you pasted, there is no `SEMVER-*` there. They seem to be retroactively added when constructing the changelog for a release, they're not included in commit messages.

[2015-11-03 02:16] gibson042 commented on #130
Semver level is the most important detail of a commit, because it dictates the versions allowed to include it. That's why I want it in the subject. If we're worried about space, I'd advocate moving component(s) into the body first, since they take up even more (especially if a commit affects multiple) and seem most useful for changelog generation, which requires the full body anyway.

Regardless,

[2015-11-03 02:43] markelog commented on #130
This information could be useful for changelog generation btw.

I don't think you can validate all commits this way, like misc, docs, etc; if such changes are not released with the project, they pretty much have nothing to do with semver terminology and because it would complicate contributing process for the beginners even more - it seems this responsibility should be on the maintainer, like sign

[2015-11-03 03:09] dmethvin commented on #130
I see the point @gibson042 makes about the semver level being more important than the component. It's not hard to see what component(s) are affected by a commit but you really have to understand the code that was changed to know its semver impact. Still, the first line of the commit is already pretty crowded so I'd prefer to see this info in the commit body as @leobalter suggested.

I wonder how t

[2015-11-03 10:23] jzaefferer commented on #130
Can you explain how to expect to make use of this information?

Without more information, I agree with Scott - the commit message seems to be the wrong place to make any decisions related to backwards compatibility. For both QUnit and jQuery UI we spend a lot of time planning gradual migrations to introduce new features and remove old, commit messages were never part of that process.

Since you me

[2015-11-03 11:44] rxaviers commented on #130
FWIW, I liked the idea of including semver info in the commit message, but my vote goes in line with what Leo and Dave suggested: in the commit body.

[2015-11-03 12:48] scottgonzalez commented on #130
There's honestly no difference between what Core does and what UI does in terms of managing multiple branches for parallel version releases. And api.jqueryui.com has an even larger spread of cherry-picking (historically it has been fairly common to cherry-pick commits across every version).

[2015-11-03 13:26] leobalter commented on #130
This semver idea is great. Flagging commits to tell my next version is great, and it involves a change log generation, where the message title can be prefixed, as in Node.

In the commits it can still reside at the body like I suggested earlier in a private email: "Semver: Major"

This is also very useful to determine my next `npm version`.

This message standard would be of a great value to QUnit

[2015-11-03 13:27] mzgol commented on #130
@jzaefferer

This has nothing to do with us having two parallel branches. This is a result of us wanting to not release jQuery Compat at all and instead release 1.12 & 2.2 that will have non-breaking changes backported from `compat` & `master` respectively (and stop cherry-picking to `compat` afterwards). We need to identify commits that introduced breaking changes so that we don't backport them.

[2015-11-03 13:32] jzaefferer commented on #130
Shouldn't it be obvious enough when reviewing a patch to land in master if it can also land in another branch? The odds of landing breaking changes in master without a lot of scrutiny should be extremely low anyway.

I currently don't see the advantage of annotating commits with this information, when its is not relevant anymore after the commit landed in one or more branches.

[2015-11-03 13:40] mzgol commented on #130
This is not the situation we're in. We already have ~300 commits on `master` that are newer than what's in the latest 2.1 release. They're there and some of them are breaking changes. We didn't pay that much attention as to which ones were breaking as we assumed they'll make it into jQuery `3.0.0` which will be a major release that's allowed to introduce breaking changes. Now we need to backport s

[2015-11-03 13:43] scottgonzalez commented on #130
Honestly, you should be examining them anyway. I think it's fine to define a standard for projects that want to use it. Since commit guidelines aren't requirements for all projects anyway, I'm trying to mostly stay out of this discussion since I don't want to implement this in the projects that I manage. But I don't think auto-porting 300 commits without manual review is a sane thing to do even wi

[2015-11-03 13:52] jzaefferer commented on #130
This seems more of a workflow or process issue then.

That sounds scary. I wouldn't want to deal with that at all, no matter what the commit message claims. Even with a 3.0.0 release, how are you dealing with migration issues? Are you working on an upgrade guide already?

[2015-11-03 14:14] mzgol commented on #130
We did pay attention when landing them, we have tickets for Migrate for specific changes (some already merged), the major changes were also mentioned in the 3.0.0-alpha1 blog post. We also have the "Behavior change" label although I see it's not applied to every issue that should have it, e.g. https://github.com/jquery/jquery/issues/1722. (@jquery/core do you think we may have more of those?).

An

[2015-11-03 14:25] scottgonzalez commented on #130
Having dealt with the UI 1.8/1.9 release phase, which contained an order of magnitude more commits than the Core 1.12/2.2/3.0 release phase, I'd be really skeptical of trusting this info for a proper decision on which commits to merge. Also, your concern about only backporting the most important bug fixes makes me think this info won't help you at all anyway.

[2015-11-03 14:29] mzgol commented on #130
Yes, in that case it's alright to analyze every single commit. @gibson042 wanted to backport as much as possible, though and it's very hard to do it then.

[2015-11-03 15:12] timmywil commented on #130
+1 for the commit body. I'd be okay with it in the subject, but as @gibson042 pointed out, we can use `--grep` or similar to filter the logs.

[2015-11-03 16:03] gnarf commented on #130
The last project I was on we had some auto tagging release bots and we used
#patch #minor #major (and #pre...) To tell that bot how big of a bump
something would be.

The info was super useful.

I don't think we need to do this if we don't have automation for release,
but it could be useful to start doing and have jQuery release verify that
there aren't any commits that call for say a major or min

[2015-11-03 20:55] gibson042 commented on #130
It looks like there's a rough consensus in favor of having this information, but having it in the body. I'm tentatively prepared to move forward on `SemVer: {Major|Minor|Patch}`.

[2015-11-03 22:29] leobalter commented on #130
on a second thought, for consistency with `npm version`, we should use the values in all lowercases: `{major|minor|patch}`.

[2015-11-15 20:38] Chealer opened #132 "Please clarify documentation issues in "How to Report Bugs" -> Where to Report"
I filed a ticket in the wrong ITS after consulting http://contribute.jquery.org/bug-reports/: https://github.com/jquery/jquery/issues/2704

After re-reading the section, I understand that I should have filed that ticket on https://github.com/jquery/api.jquery.com/issues
But I also understand why I filed the ticket against jQuery Core, and I'm sure I won't be the only one.

Since choosing the wrong

[2015-11-16 01:36] mzgol commented on #132
Thanks for the report! It would be good to have links to API sites' bug trackers there as well. What do you think, @jquery/content?

[2015-11-16 01:42] AurelioDeRosa commented on #132
:+1: for including the links @mzgol

[2015-12-09 16:43] scottgonzalez commented on #129
There haven't been any objections, so I think we're good to move forward on this. Is anyone interested in leading this?

[2015-12-10 09:49] jzaefferer commented on #129
I created a repo on the jquery-support org for this: https://github.com/jquery-support/dotfiles

Would be great if someone could do the initial collection of the various config files. I can help with getting them published and integrated elsewhere.

[2015-12-30 17:27] gibson042 opened #134 "Don't require spaces inside expression parentheses"
Excluding spaces from inside expression parentheses, especially in [loop-statement assignments](https://github.com/jquery/jquery/blob/31b63fc23674ede657f019783ad7b942bb83f9c3/src/attributes/classes.js#L120), has historically been common in jQuery—and used intentionally to visually distinguish _expression_ parentheses from _statement_ parentheses—but was prohibited by https://github.com/jscs-dev/no

[2015-12-30 17:30] kborchers commented on #134
:+1: for what it's worth from someone who rarely gets to write code anymore :smile:

[2015-12-31 20:29] dmethvin commented on #134
I'm strongly for this as well.
![cm87kwq](https://cloud.githubusercontent.com/assets/157858/12068053/460cc0b4-afd3-11e5-8401-78e3314458c9.png)

[2016-02-03 13:30] mgol commented on #132
@Chealer Would you like to create a PR for that?

[2016-02-04 10:28] dholakiyaankit opened #135 "Plugin contribute"
Is there any way to contribute the plugin? I have made a simple plugin to valid the form, that may be useful. Can you please tell me?

[2016-02-04 13:20] dmethvin commented on #135
We don't keep a list of plugins ourselves, but there are plenty of sites that can list your plugin if you want.

[2016-02-04 13:20] #135 closed

[2016-02-06 22:23] Chealer commented on #132
@mgol, I prepare changes without being sure they will be applied only exceptionally, and I am confident this can be solved easily.

That being said, I looked at http://contribute.jquery.org/documentation/ and realized this does not indicate how to report issues in... contribute.jquery.org!
Both http://contribute.jquery.org/documentation/ and http://contribute.jquery.org/bug-reports/ should be chan

[2016-02-23 01:17] AurelioDeRosa commented on #125
This is a very old issue. Is there any new opinion on this or action required? Or can we close it?

[2016-02-23 23:09] dmethvin commented on #125
I think this is best resolved at the project level, so that we don't need to enumerate all the practices that different projects follow. For most projects the current text is fine I would think, so this ticket could be closed.

[2016-02-24 00:16] AurelioDeRosa commented on #125
Thank you @dmethvin.

[2016-02-24 00:16] #125 closed

[2016-03-11 14:12] #92 closed

[2016-04-25 18:18] jzaefferer opened #138 "Adopt standard module (for new projects)"
Here's a suggestion to put an end to all style bikeshedding, by adopting https://www.npmjs.com/package/standard - at least for new projects.

I've been using that module as the only linter on a decent size projects for a year now and recently started adopting smaller repos on GitHub that I own or maintain to use it as well. I don't miss semicolons at all ([you can read about how there are no techn

[2016-04-25 18:44] scottgonzalez commented on #138
I really don't like the lack of semicolons, but I really do like the inability for us to every bikeshed about style again.

[2016-04-25 20:49] dmethvin commented on #138
You mean Foundation-wide?

[2016-04-25 21:03] gibson042 commented on #138
The "never start a line with…" [exceptions](https://github.com/feross/standard/blob/master/RULES.md#semicolons) are insufficient to cover all ASI edge cases (including one that's [_in the spec_](http://www.ecma-international.org/ecma-262/6.0/#sec-ecmascript-language-lexical-grammar)), and further, it is incomplete with respect to the contents of our style guide, so we'd still be adding (and bikesh

[2016-04-25 21:34] scottgonzalez commented on #138
The semicolons are my biggest concern, though that could be addressed by using semi-standard.

The idea is that we wouldn't do any of those things; our style guide becomes "Follow JavaScript Standard Style."

[2016-04-25 21:37] scottgonzalez commented on #138
This has come up before because of the scope expansion of the foundation. Having any style guide on contribute.jquery.org become incorrect a very long time ago but nobody seemed to want to change anything. It seems clear that we'll never have a foundation-wide style guide.

I'm interested in what you think the scope of the current style guide is.

[2016-04-25 22:17] gibson042 commented on #138
"Semi-standard" being https://github.com/Flet/semistandard ?

If "JavaScript Standard Style" is to be understood as exactly bulleted rules in https://github.com/feross/standard/blob/65efd35a3dca6c633acf9e9df36b67666f4fe447/RULES.md and exclude inferences from examples and the [sample file](https://github.com/feross/bittorrent-dht/blob/0a84ab5c19116ef4225d39120b025e57f547a135/client.js), then that

[2016-04-25 23:15] scottgonzalez commented on #138
yes

JavaScript Standard Style is to be understood as the set of rules that standard enforces. If a verbose document of the rules is what you want, I don't think the maintainers would object to a PR to add such a document.

In fact, both will fail the linter. The former comes very close to being valid though.

I'm almost always on board with this because of the potential for accidental bugs. Howev

[2016-04-26 09:30] jzaefferer commented on #138
While that question was to Dave, my take is: It is an option for our projects to adhere to, which currently  only a subset of existing projects do. I'm suggesting to instead endorse `standard`, deferring style discussions to that project.

For example, the details @gibson042 brought up above could be discussed at https://github.com/feross/standard/issues

In general I don't think an "incomplete" s

[2016-04-26 15:54] dmethvin commented on #138
As far as this particular issue, we're not going to tell a new project what style guide to follow, which is implied by "Adopt standard module (for new projects)". I think I would tell projects, "Choose a style guide and enforce it with JSCS or ESLint so you don't have to focus on those things during code review."

If someone wanted to file a PR to add something to the effect of "each project deter

[2016-04-26 23:14] markelog commented on #138
So why standard? Why not xo? Why not airbnb/google? Like airbnb code style is much **much** more popular by any metric like github stars or npm downloads.

@scottgonzalez

I was on that road so many times before, after semicolons it will be spaces, or lets change one another rule about body of arrow functions or something or other.

We did! Remember? It is called jslint :). We deferred it to Crock

[2016-04-26 23:40] scottgonzalez commented on #138
Consolidation and lack of config.

It's configurable; from their own docs: "XO is more pragmatic and has no aspiration of being the style."

Requires config file.

This ignores my first comment: "I really don't like the lack of semicolons, but I really do like the inability for us to every bikeshed about style again." I've honestly given up on style debates. At this point, I'll take anything that

[2016-04-26 23:57] markelog commented on #138
As i said, airbnb (for example) is much more popular.

Doc for standard is quite controversial, since it says it doesn't require config, but it actually does, like for globals and what files to ignore, which you define in `package.json` the same exact thing could be accomplished with any sharable config. And it actually ask you to define inline pragmas like for `mocha` case.

Sorry, i missed that,

[2016-04-28 08:07] jzaefferer commented on #138
That's a overhang you're trying to climb. Why not start with the simpler step of the jQuery Foundation endorsing something?

Or you could tell them, "If you don't already follow a style guide, use `standard`." And tell the rest of the world that we're doing that. Then look at how the popularity takes off.

You can also replace `standard` with something else that is as configuration-free (globals/i

[2016-05-12 01:07] dmethvin commented on #138
I created #139 to clarify that we're not trying to create a Foundation-wide style and this guide applies to whatever projects that want to use it.

[2016-05-12 01:07] #138 closed

[2016-05-12 01:08] dmethvin commented on #130
We didn't act on this, but if we do it should probably be at a project level. I still like the idea of marking these somehow, outside the cramped first line.

[2016-05-12 01:08] #130 closed

[2016-07-26 11:32] mgol opened #141 "The JavaScript Style Guide incorrectly says all projects use JSHint"
The [JavaScript Style Guide](https://contribute.jquery.org/style-guide/js/) incorrectly says:

and then describes the JSHint config. jQuery Core uses ESLint for linting and doesn't have `.jshintrc` or the `jshint` Grunt task.

[2017-05-30 15:55] wmill commented on #126
+1

[2017-05-31 00:35] dmethvin commented on #126
https://github.com/jquery/jquery/wiki/Won't-Fix#focus-and-blur-event-order

[2017-05-31 00:35] #126 closed

[2017-06-20 03:51] TemporalFuzz commented on #45
I usually prefer the first, but the second is more clear for comments if you're documenting all of it.

[2017-08-24 09:40] pandu5164 opened #142 "drag actions not working on microsoft touch screen laptops"
Hi,
I am using drag actions in my page. But my laptop is not able to drag elements by touch.It only works with mouse.
I use jquery 1.11.3 version.
Device I use:- Lenovo Yoga 510 (Running windows 10 OS-x64 bit)
Please let me know if there is any fix available.

[2017-08-24 15:47] dmethvin commented on #142
Please ask for help on StackOverflow or some other help forum. Thanks!

[2017-08-24 15:47] #142 closed

[2018-01-03 03:28] AurelioDeRosa opened #144 "Delete "Verify the Author Info and CLA" section"
It's been a long time since we introduced the jsf-clabot. Should we get rid of the "Verify the Author Info and CLA" section in the "jQuery Repository Maintainers Guide"?

[2018-02-23 10:47] nordfjord commented on #45
You've left out a 4th option.

I'm commenting here because this was the top result when googling "Javascript ternary formatting"

[code]

[2018-12-21 01:35] gibson042 commented on #95
Works for me. It reads a little strangely when the "plus" version doesn't exist, but remains comprehensible.

[2018-12-21 01:43] jbedard commented on #95
I agree `Firefox <=35-42` looks like the issue no longer exists in `43+` and would suggest deleting something once `42` is no longer supported. Your suggestion SGTM 👍

[2019-01-16 18:21] JuanMaRuiz commented on #141
Hi, I would like to help with this issue. How can I help with it? Where can I find the documentation about eslint configuration??

Best regards.

[2019-02-17 21:13] dmethvin commented on #141
@JuanMaRuiz at the point this documentation was written, we envisioned that all the projects would share a common setup as far as specific tools and style. However, as we've grown it seems less like a good idea.

I think it might be better to have a general statement here that says something to the effect of, "We recommend that each project create code a code style that the team agrees represents

[2019-02-17 21:16] kswedberg commented on #141
@dmethvin that sounds reasonable to me

[2020-11-10 13:04] Made-of-Clay commented on #45
Following up a bit late in the conversation, I had a discussion with a co-worker on why to choose @nordfjord's 4th option vs @jzaefferer's 2nd option. It came down to how the author interprets the meaning of ? and : in the expression.

**4th Option**
My preferred style, the ? and : are viewed as the beginnings of the `if` and `else` statements respectively.

**2nd Option**
My co-workers style, the